 nav{
 height:30px;
 background-color:#666;

 }
 #navMenu{
	//margin:0;
	//padding:0;
 }
 #navMenu ul{
 //border:1px solid red;
	margin:0;
	padding:0;
	line-height:30px;
	
 }
 #navMenu li{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	position:relative;
	background-color:#666
 }
 #navMenu ul li a{
	text-align:center;
	font-family:"Comic Sans MS", cursive;
	text-decoration:none;
	height:30px;
	width:100px;
	display:block;
	color:#FFF;
	border:1px solid #FFF;
	text-shadow:1px 1px 1px #000;
 }
 #navMenu ul li ul li a{
 width:150px;
 text-align:left;
 padding-left:2px;
 }
 #navMenu ul ul{
position:absolute;
visibility:hidden;
top:32px;
 }
 #navMenu ul li:hover ul {
 visibility:visible;
 }
 #navMenu li:hover {
 background: #EF7C5F;
 }
 #navMenu ul li:hover ul li a:hover{
	background: #CF5C3F;
	//background-color:#CF5C3F;
	color:#000;
 }
 #navMenu a:hover{
 color:#000;
 }
 .clearFloat{
 clear:both;
 margin:0;
 padding:0;
 }
 
 /*****************************************/
 .mainfooter{
 height:30px;
 width:100%;
 background-color:#666;
 float:left;
 }
 .mainfooter p{
	padding:0px;
	margin:0px;
 }